<h1>CD collection!</h1>

<form action="/" method="post">

  <div class="form-group">
    <label for="artist">Artist:</label>
    <input type="text" name="artist" id="artist" class="form-control">
  </div>

  <button class="btn btn-default" type="submit">Add CD</button>
</form>
#foreach ($cd in $cds)

  <h3>$cd.getsArtist()</h3>
#end
